.listStudents {
    padding-top: 2em;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    border: 5px solid black;
    border-radius: 2px;
    width: 100%;
}